<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campgrounds</title>
</head>
<body>
    <h1>All Campgrounds</h1>
    <a href="/campgrounds/new">Add Campground</a>
    <ul>   
        <% for(let c of campgrounds){ %>
            <li><a href="/campgrounds/<%= c._id %>"><%= c.title %></a></li>
        <% } %>       
    </ul>
</body>
</html>